/* CSS Document */
h1,h2,h3,h4,h5{
	color: #FFF;
	margin: 5px 5px 5px 5px;

}

html{

}

body{
	border: 0;
	padding: 0;
	margin: 0 0 0 0;
}

div#logo{
	margin: 0 0 0 25px;;
	width: 25%;
	float: left;
	border: 1px solid #fff;
	min-height: 220px;
}
div#logo h1{
	margin: 80px 0 0 100px;
	color: #fff;
}

div#headerContent{
	margin: 0 0 0 25px;
	width: 60%;
	min-height: 220px;
	color: lime;
	float: left;
	border: 1px solid #999;
	text-align: center;
}


div#container{
	width: 100%;
	height: 100%;
	background:url(../images/micro_carbon_@2X.png);	
	
}

/*Navigation*/
div#mainNav{
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	min-height: 75px;
	
}

div#mainNav ul{
	display: inline-block;
	text-align: center;
	list-style:none;
	margin-left: 25%;
}
.Home_Button {
  background-image: url("Home Button.png");
  position: absolute;
  left: 28px;
  top: 244px;
  width: 225px;
  height: 67px;
  z-index: 25;
}

div#mainNav ul li{
	margin: 0 auto;
	float: left;
	padding: 0 25px 0 25px;
	font-size: 25px;
	background: grey;
	border: 1px solid black;
	
}

div#mainNav ul li a:hover{
	text-decoration:none;
	
}

div#headerContainer{
	position: relative;
	width: 100%;
	/*background:url(../images/micro_carbon.png);*/
	min-height: 225px;
	border: 1px solid #333;
	
}

div#contentContainer{
	position: relative;
	width: 100%;
	min-height: 600px;
	background:url(../images/micro_carbon.png);
	
}

div#content{
	margin: 0 auto;
	position: relative;
	width: 1000px;
	min-height: 600px;
	background:url(../images/micro_carbon_@2X.png);
	/*box-shadow: 25px 0px 124px #333;*/
	border: 1px solid #333;
}

/*div#sideBar{
	position: relative;
	float: left;
	background: blue;
	width: 25%;
	min-height: 500px;
}*/

div#footerContainer{
	position: relative;
	width: 100%;
	/*background:url(../images/micro_carbon.png);*/
	min-height: 225px;
	border: 1px solid #333;
}